/* sharing css part start here*/
*{
    margin: 0;
    padding: 0;
}
.inter_font> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.cmn_width{
    width: 70%;
    max-width: 1360px;
    margin: 0 auto; 
    
}

.btn{
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    padding:12px 16px ;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(70, 145, 101, 1);
    border: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}



/* sharing css part end here */

/* nav part start here */
.nav_main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;  
}
.nav_menu ul{
    display: flex;
    gap: 32px;
    cursor: pointer;
}
.nav_main ul li{
    list-style: none;
}
.nav_main ul li a{
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
    font-size: 16px;
    font-weight: 500;
}
/* nav part end here */

/* banner part start here */
.banner_main{
    background: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 185px 0px;
}
.banner_container{
    text-align: center;
}
.banner_container h2{
    color: rgba(255, 255, 255, 1);
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
}
.heading_text{
    color: rgba(48, 184, 104, 1);
}
.banner_container p{
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    padding: 16px 295px 32px;

}
/* banner part end here */
/* structure part start here */
.structure{
    margin-top: 90px;
    text-align: center;
}
.structure_heading h1{
    color: rgba(0, 25, 49, 1);
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    margin-bottom: 16px;
}
.structure_heading p{
    color: rgba(98, 115, 130, 1);
    font-weight: 400;
    line-height: 20px;
}

.structure_card{
    margin: 45px auto;
    display: flex;
    gap:24px ;
}
.card_item{
    text-align: center;
    padding: 24px;
    box-shadow:0px 0px 8px 0px #62738244 ;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.card_item img{
    background-color:rgba(249, 85, 85, 1) ;
    padding: 14px ;
    margin-top: 55px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.card_item h3{
    color: rgba(0, 25, 49, 1);
    margin: 16px;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
}
.card_item p{
    color: rgba(98, 115, 130, 1);
    font-weight: 400;
    line-height: 20px;

}
/* structure part end here */
/* brain part start here */
.brain_container{
    display: flex;
    align-items: center;
    gap: 60px;
}
.brain_img img{
    width: 600px;
    height: 600px;
}
.brain_info_details{
    display: flex;
    align-items: center;
    gap: 6px;
}
.brain_heading h5{
    color:rgba(70, 145, 101, 1) ;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 16px;
}
.brain_heading h2{
    color: rgba(0, 25, 49, 1);
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
}
.brain_heading p{
    color: rgba(98, 115, 130, 1);
    font-weight: 400;
    line-height: 20px;
    padding: 16px 0 40px 0;
}
.brain_info_details{
    margin-bottom: 16px;
}

/* brain part end here */
/* clear part start here */
.clear{
    border-radius: 12px;
    background: rgba(247, 246, 242, 1);
    text-align: center;
    padding: 80px 40px;
}
/* clear part end here */
.ready_think{
    margin-top:122px ;
}
.clear h2{
    color: rgba(0, 25, 49, 1);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}
.clear p{
    color: rgba(98, 115, 130, 1);
    font-weight: 400;
    line-height: 24px;
    padding: 16px 0 24px 0;
}