/* sharing css part start here*/
*{
    margin: 0;
    padding: 0;
}
.inter_font> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.cmn_width{
    width: 70%;
    max-width: 1360px;
    margin: 0 auto; 
    text-align: center;
}

.btn{
    font-size: 16px;
    font-weight: 600;
    padding:12px 16px ;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(70, 145, 101, 1);
    border: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}



/* sharing css part end here */

/* nav part start here */
.nav_main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;  
}
.nav_menu ul{
    display: flex;
    gap: 32px;
    cursor: pointer;
}
.nav_main ul li{
    list-style: none;
}
.nav_main ul li a{
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
    font-size: 16px;
    font-weight: 500;
}
/* nav part end here */

/* banner part start here */
.banner_main{
    background: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 185px 0px;
}

.banner_container h2{
    color: rgba(255, 255, 255, 1);
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
}
.heading_text{
    color: rgba(48, 184, 104, 1);
}
.banner_container p{
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    padding: 16px 295px 32px;

}

